---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="about">

      <h1>Acerca de...</h1>
      <p>
      Esta página está creada por Lucas Zazo. 
      En estas pagina podras encontrar toda la informacion necesaria sobre las estraescolares del Ideo
      </p>
   </BaseLayout>