---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="contact">

      <h1>Contacto</h1>
      <p>Información de contacto del autor</p>
      <p>Puedes contactarme a través de los siguientes medios:</p>
      <ul>
        <li>Email: estraescolaresideo@ideo.com</li>
        <li>Twitter: estraescolares_ideo</li>
        <li>Formulario 
      </ul>
    </div>
    
      <div class="links">
        <ul>
          <li>
            <a href="/about">Acerca de</a>
          </li>
          <li>
            <a href="/blog">Blog</a>
          </li>
          <li>
            <a href="/contact">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>